*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #a517ba,#5f1782); /* navigation bar color */
	padding: 0 !important;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}
.fa-bars
{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler
{
	outline: none !important;
}
/*--------------service section-------------*/
#services
{
	padding: 30px 0;
}
.service-img
{
	width: 160px;
	margin-top: 20px;
}
.services
{
	padding: 20px;
}
.services h4
{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}
.title::before
{
	content: '';
	background: #7b1798;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after
{
	content: '';
	background: #7b1798;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}
#services .btn-primary
{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.anchor
{
	text-decoration: none;
	color: white;
	text-decoration: none;
	text-decoration-color: white;
}
.anchor:hover
{
	text-decoration: none;
	color: white;
	text-decoration: none;
	text-decoration-color: white;
}